#u8darts
#darts
#u8darts[fbprophet] 
#u8darts[ExponentialSmoothing] 
#u8darts[ARIMA] 
black
fastapi
mangum
pytest
pylint
uvicorn[standard]
prophet
numpy
pydantic
#pmdarima
#scikit-learn
#statsmodels
python-dateutil
#numpy==1.24.0
#pmdarima==2.0.3
#plotly==5.15.0