#u8darts
#darts
#u8darts[fbprophet] 
#u8darts[ExponentialSmoothing] 
#u8darts[ARIMA] 
black
fastapi
mangum
pytest
pylint
uvicorn[standard]
prophet
numpy
pydantic
pmdarima
scikit-learn
statsmodels
python-dateutil
aws_lambda_powertools
neuralprophet